.cadastro {
    background: var(--branco);
    padding: 1.5rem;
}

.cadastro__titulo {
    background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: var(--fonte-padrao);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5rem;
    margin-bottom: 0.5em;
}

.cadastro__descricao {
    background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: var(--fonte-padrao);
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5rem;
}

.cadastro__email {
    border: 1px solid var(--azul);
    border-radius: 32px;
    margin: 1.5em 0;
    padding: 0.5em;
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    width: 90%;
}

.cadastro__email::placeholder {
    font-family: var(--fonte-padrao);
    font-size: 14px;
    line-height: 1.5rem;
    color: var(--azul-degrade);
    text-align: justify;
    text-justify: auto;
    background: url(../src/img/Email.svg) no-repeat;
    background-position: 1em;
    padding-left: 3em;
}

@media screen and (min-width: 1024px) {
    .cadastro {
        display: flex;
        justify-content: center;
    }
    .cadastro__titulo {
        font-size: 18px;
    }
    .cadastro__div {
        width: 30%;
    }
    .cadastro__email {
        width: 30%;
    }
}